@import url("../css/style.css");

/* about -us */
.about-us-contact-number{
    text-decoration: none; 
    color: inherit;
  }
  /* air-condition-productk */
  .animation-air-condition-product{
    visibility: visible; 
    animation-delay: 0.7s; 
    animation-name: fadeInUp;
  }
  
  .custom-bg-air-condition-product{
    background-size: cover; 
    background-repeat: no-repeat;
  }
  .our-product-animation{
    visibility: visible; 
    animation-delay: 0.2s; 
    animation-name: fadeInUp;
  }
  .headermain-mail{
    text-decoration: none; 
    color: white;
  }
  .footer-bg-color{
    background-color: #333;
  }
  .footerl-color{
    color: #333;
  }
  .home-slider-one{ 
    background-image: url('../images/hero-slider/2.avif'); 
    background-size: cover; 
    background-position: center;
  }
  .home-slider-two{
    background-image: url(../images/hero-slider/commercial-refrigeration.avif);
    background-size: cover; 
    background-position: center;
  }
  .home-slider-three{
    background-image: url(../images/hero-slider/Advanced-IT-Solutions-1.avif);
    background-size: cover; 
    background-position: center;
  }
  .home-slider-four{
    background-image: url(../images/hero-slider/office-automation.avif);
    background-size: cover; 
    background-position: center;
  } 