RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]
Header always set Content-Security-Policy "upgrade-insecure-requests"


# Define custom error pages
ErrorDocument 404 /error.html	

# Rewrite rules for clean URLs
RewriteRule ^home$ index.php [L,NC]
RewriteRule ^about$ about.php [L,NC]
RewriteRule ^contact$ contact.php [L,NC]
RewriteRule ^air-conditioning$ air-conditioning.php [L,NC]
RewriteRule ^air-conditioning-repair$ air-conditioning-repair.php [L,NC]
RewriteRule ^air-conditioning-maintenance$ air-conditioning-maintenance.php [L,NC]
RewriteRule ^air-conditioning-products$ air-conditioning-products.php [L,NC]
RewriteRule ^it-products$ installation.php [L,NC]
RewriteRule ^it-products-repair$ repair.php [L,NC]
RewriteRule ^it-products-maintenance$ maintenance.php [L,NC]
RewriteRule ^it-products-products$ it-products-products.php [L,NC]
RewriteRule ^office-automation$ office-automation.php [L,NC]
RewriteRule ^office-automation-repair$ office-automation-repair.php [L,NC]
RewriteRule ^office-automation-maintenance$ office-automation-maintenance.php [L,NC]
RewriteRule ^office-automation-products$ office-automation-products.php [L,NC]
RewriteRule ^refrigeration$ refrigeration.php [L,NC]
RewriteRule ^refrigeration-repair$ refrigeration-repair.php [L,NC]
RewriteRule ^refrigeration-maintenance$ refrigeration-maintenance.php [L,NC]
RewriteRule ^refrigeration-products$ refrigeration-products.php [L,NC]
RewriteRule ^siteMap$ sitemap.php [L,NC]

# RewriteRule ^Natural Sesame Seeds natural-sesame-seeds.php [L]  